body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}
table{
    margin: auto;
}
tr:nth-child(even){
    background:#f2f2f2;
}
tr:hover{
    background:#66ff66;
}